<%= form_for(@mybill) do |f| %>
  <% if @mybill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mybill.errors.count, "error") %> prohibited this mybill from being saved:</h2>

      <ul>
      <% @mybill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :user_id %> <%= current_user.id %> <br />
  </div>
  <div class="field">
    <%= f.label :due_date %>:
    <%= f.text_field :due_date, :id => 'mybill_due_date'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
