<% if user_signed_in? %>
    Signed in as <%= current_user.email %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sigin in", new_user_session_path %>
<% end %>
<ul class="vt_nav_items">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Home", root_path %>
  </li>

</ul>