<!DOCTYPE html>
<html>
<head>
  <title>Myaccount</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1 main_wrapper">
      <!-- HEADER -->
      <div class="row-fluid">
        <div class="span12 main_header">
          Header
        </div>
      </div>
      <!-- BODY -->
      <div class="row-fluid">
        <div class="span1 accessibility">
          accessible
        </div>
        <div class="span3 vertical_navigation">
          <%= render 'layouts/vertical_navigation' %>
        </div>
        <div class="span8 main_content">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>
